{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css ">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet " href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css ">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js "></script>

    <!-- Nuestro css-->

    <link rel="stylesheet " href="{% static 'css/style.css' %} ">
    <title>Cambio de contraseña</title>
</head>

<body>

    <div class="card " style="background-image: url({% static 'img/fondo.jpeg'%}); background-repeat: no-repeat; background-size:100% 100%; ">
        <div class="container-fluid ">
            <div class="card-header ">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
                    <a class="navbar-brand " href="{%url 'inicio'%} ">Sistema Juridico</a>
                </nav>
            </div>
        </div>

        <div class="modal-dialog text-center ">
            <div class="col-sm-12 main-section ">
                <div class="modal-content ">
                    <div class="col-12 user-img ">
                        <img src="{% static 'img/user.png'%} " th:src="@{/img/user.png} " />
                    </div>
                    <p style="color: black;">Recuperar contraseña</p>
                    <form method="post" class="col-12">
                        {% csrf_token %}
                        <div class="form-group " id="user-group">
                            {{ form.email }}
                        </div>
                        <button type="submit " class="btn btn-primary "><i class="fas fa-sign-in-alt "></i>  Enviar </button>
                    </form>

                </div>
            </div>
        </div>


        <div class="card-footer text-muted ">

            <footer class="page-footer font-small blue ">
                <div class="footer-copyright text-center ">
                    <p>Universidad Nacional de El Salvador</p>
                    <p>Sistema Juridico</p>
                </div>
            </footer>

        </div>


    </div>

</body>

</html>