{%extends 'base.html'%}{%load static%}{%block title%} Institucion {%endblock%} {%block content%}
<div class="card">
    <div class="card-header">
        <strong>Institucion</strong>
    </div>
    <div class="card-body card_block">
        <div class="row ">
            <div class="col-md-12 search">
                <!--Barra de busqueda-->
                {%include 'barras/barra_de_busqueda.html'%}
                <!--Fin Barra de busqueda-->
                <br> {%if institucion%}
            </div>
        </div>
        <div class="col-md-10">
            <a class="btn btn-primary" href="{%url 'crear_institucion'%}" id="crear" style="float: right;">Crear institucion</a>
        </div>
        <br>
        <br>
        <div class="card-body">
            <div class="table">
                <table class="table table-responsive table-hover">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">Nombre</th>
                            <th scope="col ">Direccion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for instituciones in institucion%}
                        <tr>
                            <td>{{instituciones.nombre}}</td>
                            <td>{{instituciones.direccion}}</td>
                            <td>
                                <a onclick="abrir_modal_edicion('{% url 'editar_institucion' instituciones.id %}')" class="btn btn-warning">Editar</a>
                                <a onclick="abrir_modal_eliminacion('{% url 'eliminar_institucion' instituciones.id %}')" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {%else%}
        <div class="container">
            <div class="col-md-8">
                <a class="btn btn-primary" href="{%url 'crear_institucion'%}" id="crear" style="float: right;">Crear institucion</a>
            </div>
            <br>
            <br>
            <h1>No existen Instituciones</h1>

        </div>
    </div>
</div>
{%endif%}
<!--Paginacion-->
{%include 'barras/paginador.html'%}
<!--Fin paginacion-->
<div id="edicion" class="modal fade" role="dialog">
</div>
<div id="eliminacion" class="modal fade" role="dialog">
</div>

<script type="text/javascript">
    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function() {
            $(this).modal('show');
        });
    }

    function abrir_modal_eliminacion(url) {
        $('#eliminacion').load(url, function() {
            $(this).modal('show');
        });
    }
</script>

{%endblock%}