<form method="GET">
    <div id="custom-search-input">
        <div class="input-group col-md-10">
            <label for="nombre" style="margin: 5px;">Nombre: </label>
            <input type="text" class="form-control" placeholder="Ingrese el nombre a buscar" name="buscar" style="border-radius: 5px;" id="buscar" value="{{request.GET.buscar}}">
            <span class="input-group-list">
                        <i class="icon icon-search"></i>
                        <button type="submit" class="btn btn-success" id="buscar" style="margin-left: 5px;">Buscar</button>
                </span>
        </div>
    </div>
</form>