{%extends 'base.html'%}{%load static%}{%block title%}Lista de Audiencia {%endblock%} {%block content%}
<div class="card">
    <div class="card-header">
        <strong>Lista de las audiencias</strong>
    </div>
    <div class="card-body card_block">
        <div class="row ">
            <div class="col-md-12 search">
                <!--Barra de busqueda-->
                <!--Barra de busqueda-->
                {%include 'barras/barra_de_busqueda.html'%}
                <!--Fin Barra de busqueda-->
                <!--Fin Barra de busqueda-->
                <br> {%if audiencia%}
            </div>
        </div>
        <div class="col-md-10">
            <a class="btn btn-primary" href="{%url 'crear_audiencia'%}" id="crear" style="float: right;">Crear Audiencia</a>
        </div>
        <br>
        <br>
        <div class="card-body">
            <div class="table">
                <table class="table table-responsive table-hover">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">Codigo Caso</th>
                            <th scope="col ">Detalle</th>
                            <th scope="col ">Cliente</th>
                            <th scope="col ">Fecha</th>
                            <th scope="col ">Hora</th>
                            <th scope="col ">Descripcion</th>
                            <th scope="col ">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for audiencias in audiencia%}
                        <tr>
                            <td>{{audiencias.codigo_caso_id}}</td>
                            <td>{{audiencias.detalle}}</td>
                            <td>{{audiencias.id_cliente}}</td>
                            <td>{{audiencias.fecha}}</td>
                            <td>{{audiencias.hora}}</td>
                            <td>{{audiencias.descripcion}}</td>
                            <td>
                                <a class="btn btn-link" href="{%url 'editar_audiencia' audiencias.id%}">Editar Audiencia</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {%else%}
        <div class="container">
            <div class="col-md-8">
                <a class="btn btn-primary" href="{%url 'crear_audiencia'%}" id="crear" style="float: right;">Crear Audiencia</a>
            </div>
            <br>
            <br>
            <h1>No existen audiencias</h1>

        </div>
    </div>
</div>
{%endif%}
<div id="edicion" class="modal fade" role="dialog">
</div>
<div id="eliminacion" class="modal fade" role="dialog">
</div>

{%endblock%}