{%extends 'base.html'%}{%load static%}{%block title%}Forma de Pago {%endblock%} {%block content%}
<div class="card">
    <div class="card-header">
        <strong>Lista de las formas de pago</strong>
    </div>
    <div class="card-body card_block">
        <div class="row ">
            <div class="col-md-12 search">
                <!--Barra de busqueda-->
                {%include 'barras/barra_de_busqueda.html'%}
                <!--Fin Barra de busqueda-->
                <br> {%if formapagos%}
            </div>
        </div>
        <div class="col-md-10">
            <a class="btn btn-primary" href="{%url 'crear_formaPago'%}" id="crear" style="float: right;">Crear Forma de Pago</a>
        </div>
        <br>
        <br>
        <div class="card-body">
            <div class="table">
                <table class="table table-responsive table-hover">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">Plazo</th>
                            <th scope="col ">Cuota</th>
                            <th scope="col ">Monto</th>
                            <th scope="col ">Fecha fin de Credito</th>
                            <th scope="col ">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {%for formapago in formapagos%}
                        <tr>
                            <td>{{formapago.plazo }}</td>
                            <td>{{formapago.cuota}}</td>
                            <td>{{formapago.monto}}</td>
                            <td>{{formapago.fecha_fin_credito}}</td>
                            <td><a onclick="abrir_modal_edicion('{% url 'editar_formaPago' formapago.id %}')" class="btn btn-warning">Editar</a>
                                <a onclick="abrir_modal_eliminacion('{% url 'eliminar_formaPago' formapago.id%}')" class="btn btn-danger">Eliminar</a>

                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {%else%}
        <div class="container">
            <div class="col-md-8">
                <a class="btn btn-primary" href="{%url 'crear_formaPago'%}" id="crear" style="float: right;">Crear Forma de Pago</a>
            </div>
            <br>
            <br>
            <h1>No existen Formas de pago</h1>

        </div>
    </div>
</div>
{%endif%}
<!--Paginacion-->
{%include 'barras/paginador.html'%}
<!--Fin paginacion-->
<div id="edicion" class="modal fade" role="dialog">
</div>
<div id="eliminacion" class="modal fade" role="dialog">
</div>

<script type="text/javascript">
    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function() {
            $(this).modal('show');
        });
    }

    function abrir_modal_eliminacion(url) {
        $('#eliminacion').load(url, function() {
            $(this).modal('show');
        });
    }
</script>

{%endblock%}