{%extends 'base.html'%}{%load static%}{%block title%}Abogados{%endblock%} {%block content%} {%if request.user.is_staff%}
<div class="card">
    <div class="card-header">
        <strong>Abogados</strong>
    </div>
    <div class="card-body card_block">
        <div class="row ">
            <div class="col-md-12 search">
                <!--Barra de busqueda-->
                <form method="GET">
                    <div id="custom-search-input">
                        <div class="input-group col-md-10">
                            <label for="nombre" style="margin: 5px;">Nombre: </label>
                            <input type="text" class="form-control" placeholder="Ingrese el nombre a buscar" name="buscar" style="border-radius: 5px;" id="buscar" value="{{request.GET.buscar}}">
                            <span class="input-group-list">
                                        <i class="icon icon-search"></i>
                                        <button type="submit" class="btn btn-success" id="buscar" style="margin-left: 5px;">Buscar</button>
                                </span>
                        </div>
                    </div>
                </form>
                <!--Fin Barra de busqueda-->
                <br> {%if abogados%}
            </div>
        </div>
        <div class="col-md-10">
            <a class="btn btn-primary" href="{%url 'crear_abogado'%}" id="crear" style="float: right;">Crear Abogado</a>
        </div>
        <br>
        <br>
        <div class="card-body">
            <div class="table">
                <table class="table table-responsive table-hover">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">Nombre</th>
                            <th scope="col ">Apellido</th>
                            <th scope="col ">DUI</th>
                            <th scope="col ">Telefono</th>
                            <th scope="col ">Fecha de Nacimiento</th>
                            <th scope="col ">Usuario</th>
                            <th scope="col ">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {%for abogado in abogados%}
                        <tr>
                            <td>{{abogado.nombre}}</td>
                            <td>{{abogado.apellido}}</td>
                            <td>{{abogado.dui}}</td>
                            <td>{{abogado.telefono}}</td>
                            <td>{{abogado.fecha_nacimiento}}</td>
                            <td>{{abogado.username}}</td>
                            <td><a class="btn btn-warning" href="{% url 'editar_abogado' abogado.id %}" id="editar">Editar</a>
                                <a onclick="abrir_modal_detalle('{% url 'detalle_abogado' abogado.id %}')" class="btn btn-danger">Detalles</a>

                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {%else%}
        <div class="container">
            <div class="col-md-8">
                <a class="btn btn-primary" href="{%url 'crear_abogado'%}" id="crear" style="float: right;">Crear Abogado</a>
            </div>
            <br>
            <br>
            <h1>No existen registros de abogados</h1>

        </div>
    </div>
</div>
{%endif%}
<!--Paginacion-->
{%include 'barras/paginador.html'%}
<!--Fin paginacion-->
<div id="edicion" class="modal fade" role="dialog">
</div>
<div id="eliminacion" class="modal fade" role="dialog">
</div>


<script type="text/javascript">
    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function() {
            $(this).modal('show');
        });
    }

    function abrir_modal_detalle(url) {
        $('#edicion').load(url, function() {
            $(this).modal('show');
        });
    }
</script>
{%endif%} {%endblock%}