<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<p class="bg-dark">
<div id="edicion" class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Detalle de : {{object}}</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'detalle_abogado' object.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
               <div class="row">
                   <div class="col-md-12">
                       <p lead="card-text">Nombre: {{object.nombre}}</p>
                   </div>
                   <div class="col-md-12">
                    <p lead="card-text">Apellido: {{object.apellido}}</p>
                    </div>
                    <div class="col-md-10">
                        <p lead="card-text">Dui: {{object.dui}}</p>
                    </div>
                    <div class="col-md-10">
                        <p lead="card-text">Dirección: {{object.direccion}}</p>
                    </div>
                    <div class="col-md-10">
                        <p lead="card-text">Estado civil: {{object.estado_civil}}</p>
                    </div>
                    <div class="col-md-12">
                        <p lead="card-text">Correo: {{object.correo}}</p>
                    </div>
                    <div class="col-md-10">
                        <p lead="card-text">Telefono: {{object.telefono}}</p>
                    </div>
                    <div class="col-md-12">
                        <p lead="card-text">Fecha de Nacimiento: {{object.fecha_nacimiento}}</p>
                    </div>
                    <div class="col-md-10">
                        <p lead="card-text">Tipo de abogado: {{object.Tipo_de_abogado}}</p>
                    </div>
               </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit" data-dismiss="modal">Aceptar</button>
            </div>
        </form>
    </div>
</div>
