{%extends 'base.html'%}{%load static%}{%block title%}Inicio{%endblock%}{%block barra_busqueda%}{%endblock%}{%block content%}

<div class="card">
    <div class="card-header">
        <h2>Bienvenidos</h2>
    </div>
    <div class="card-body">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum eos id animi molestiae. Suscipit saepe accusamus tempore natus atque perspiciatis corporis, quasi perferendis odio ratione sunt ullam in consequuntur aliquam.
        </p>
    </div>
    {%endblock%}
</div>