{%extends 'base.html'%}{%load static%}{%block title%}Clientes{%endblock%} {%block content%}
<div class="card">
    <div class="card-header">
        <strong>Clientes</strong>
        <h2>{{request.user.rol.rol}} </h2>
    </div>
    <div class="card-body card_block">
        <div class="row ">
            <div class="col-md-12 search">
                <!--Barra de busqueda-->
                {%include 'barras/barra_de_busqueda.html'%}
                <!--Fin Barra de busqueda-->
                <br> {%if clientes%}
            </div>
        </div>
        <div class="col-md-10">
            <a class="btn btn-primary" href="{%url 'crear_cliente'%}" id="crear" style="float: right;">Crear Cliente</a>
        </div>
        <br>
        <br>
        <div class="card-body">
            <div class="table">
                <table class="table table-responsive table-hover">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">Nombre</th>
                            <th scope="col ">Apellido</th>
                            <th scope="col ">DUI</th>
                            <th scope="col ">Telefono</th>
                            <th scope="col ">Fecha de Nacimiento</th>
                            <th scope="col ">Usuario</th>
                            <th scope="col ">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for cliente in clientes%}
                        <tr>
                            <td>{{cliente.nombre}}</td>
                            <td>{{cliente.apellido}}</td>
                            <td>{{cliente.dui}}</td>
                            <td>{{cliente.telefono}}</td>
                            <td>{{cliente.fecha_nacimiento}}</td>
                            <td>{{cliente.rol.rol}}</td>
                            <td>
                                <a class="btn btn-warning" href="{% url 'editar_cliente' cliente.id %}" id="editar" style="float: right;">Editar</a>
                                <td><a onclick="abrir_modal_edicion('{% url 'detalle_cliente' cliente.id %}')" class="btn btn-danger">Detalle</a>
                                </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {%else%}
        <div class="container">
            <div class="col-md-8">
                <a class="btn btn-primary" href="{%url 'crear_cliente'%}" id="crear" style="float: right;">Crear Cliente</a>
            </div>
            <br>
            <br>
            <h1>No existen Clientes</h1>

        </div>
    </div>
</div>
{%endif%}
<!--Paginacion-->
{%include 'barras/paginador.html'%}
<!--Fin paginacion-->
<div id="edicion" class="modal fade" role="dialog">
</div>
<div id="eliminacion" class="modal fade" role="dialog">
</div>

<script type="text/javascript">
    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function() {
            $(this).modal('show');
        });
    }

    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function() {
            $(this).modal('show');
        });
    }
</script>

{%endblock%}