{%extends 'base.html'%}{%load static%}{%block title%}Clientes{%endblock%} {%block content%}
<div class="card">
    <div class="card-header">
        <strong>Clientes</strong>
    </div>
    <div class="card-body card_block">
        <div class="row ">
            <div class="col-md-12 search">
                <!--Barra de busqueda-->
                <form method="GET">
                    <div id="custom-search-input">
                        <div class="input-group col-md-10">
                            <label for="nombre" style="margin: 5px;">Nombre: </label>
                            <input type="text" class="form-control" placeholder="Ingrese el nombre a buscar" name="buscar" style="border-radius: 5px;" id="buscar" value="{{request.GET.buscar}}">
                            <span class="input-group-list">
                                        <i class="icon icon-search"></i>
                                        <button type="submit" class="btn btn-success" id="buscar" style="margin-left: 5px;">Buscar</button>
                                </span>
                        </div>
                    </div>
                </form>
                <!--Fin Barra de busqueda-->
                <br> {%if clientes%}
            </div>
        </div>
        <div class="col-md-10">
            <a class="btn btn-primary" href="{%url 'crear_cliente'%}" id="crear" style="float: right;">Crear Cliente</a>
        </div>
        <br>
        <br>
        <div class="card-body">
            <div class="table">
                <table class="table table-responsive table-hover">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">Nombre</th>
                            <th scope="col ">Apellido</th>
                            <th scope="col ">DUI</th>
                            <th scope="col ">Telefono</th>
                            <th scope="col ">Fecha de Nacimiento</th>
                            <th scope="col ">Usuario</th>
                            <th scope="col ">Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        {%for cliente in clientes%}
                        <tr>
                            <td>{{cliente.nombre}}</td>
                            <td>{{cliente.apellido}}</td>
                            <td>{{cliente.dui}}</td>
                            <td>{{cliente.telefono}}</td>
                            <td>{{cliente.fecha_nacimiento}}</td>
                            <td>{{cliente.username}}</td>
                            <td><a onclick="abrir_modal_edicion('{% url 'editar_cliente' cliente.id %}')" class="btn btn-warning">Editar</a>
                                <td><a onclick="abrir_modal_edicion('{% url 'detalle_cliente' cliente.id %}')" class="btn btn-danger">Detalle</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {%else%}
        <div class="container">
            <div class="col-md-8">
                <a class="btn btn-primary" href="{%url 'crear_cliente'%}" id="crear" style="float: right;">Crear Cliente</a>
            </div>
            <br>
            <br>
            <h1>No existen Clientes</h1>

        </div>
    </div>
</div>
{%endif%}
<div id="edicion" class="modal fade" role="dialog">
</div>
<div id="eliminacion" class="modal fade" role="dialog">
</div>

<script type="text/javascript">
    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function() {
            $(this).modal('show');
        });
    }
    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function() {
            $(this).modal('show');
        });
    }

</script>

{%endblock%}